<app-worker-nav>
  <mat-card class="form-card center">
    <h1>Подтвержденные заявки</h1>
    <table class="table table-striped" style="text-align:center">
      <thead>
        <tr>
          <td>ФИО</td>
          <td>Телефон</td>
          <td>Описание</td>
          <td>Выезд мастера</td>
          <td>Статус</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.Fio}}</td>
          <td>{{order.Phone}}</td>
          <td>{{order.Description}}</td>
          <td *ngIf="order.NeedEvaluation == '0'">Нет</td>
          <td *ngIf="order.NeedEvaluation == '1'">Да</td>
          <td>{{order.Status}}</td>

          <td style="width:150px">
            <input type="button" value="Начать выполнение" (click)="workOrder(order.Id)" class="btn btn-success button" />
            <input type="button" value="Смета" (click)="orderFull(order.Id)" class="btn btn-dark button" />
          </td>
        </tr>
      </tbody>
    </table>


  </mat-card>
</app-worker-nav>

