<app-admin-nav>
  <mat-card class="form-card center">
    <form #materialForm="ngForm" class="form-card ">
      <mat-form-field class="input-width">
        <input matInput [(ngModel)]="newMaterial.Material" name="Material" placeholder="Материал" required>
      </mat-form-field>
      <mat-form-field class="input-width">
        <input matInput [(ngModel)]="newMaterial.Manufacturer" name="Manufacturer" placeholder="Производитель" required>
      </mat-form-field>
      <mat-form-field class="input-width">
        <input matInput [(ngModel)]="newMaterial.Description" name="Description" placeholder="Характеристики" required>
      </mat-form-field>
      <mat-form-field class="input-width">
        <input matInput [(ngModel)]="newMaterial.OneCost" name="OneCost" placeholder="Цена за шт" required>
      </mat-form-field>

      <div style="display:inline-block">
        <button mat-raised-button color="primary" [disabled]="!materialForm.valid" (click)="AddMaterial()">
          Добавить
        </button>
      </div>

    </form>
    <h1>Материалы</h1>
    <table class="table table-striped">
      <thead>
        <tr class="head">
          <td>Id</td>
          <td>Материал</td>
          <td>Производитель</td>
          <td>Характеристики</td>
          <td>Цена за шт.</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tempResult$ | async">
          <td>{{item.Id}}</td>
          <td>{{item.Material}}</td>
          <td>{{item.Manufacturer}}</td>
          <td>{{item.Description}}</td>
          <td>{{item.OneCost}}</td>
        </tr>
      </tbody>

    </table>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[10, 15]"
                   (page)="pageEvent = changePageEvent($event)">
    </mat-paginator>

  </mat-card>
</app-admin-nav>
