<app-main-nav>
  <mat-card class="form-card center" *ngIf="materialOrder">
    <h2>Полная смета</h2>

    <div class="info">

      <h4 style="font-style:italic; text-align:center">Закупка материалов</h4>
      <div *ngFor="let item of materialOrder" class="table-striped">
        <p>Материал: <span style="font-weight:500; font-style:italic">{{item.Material.Material}} {{item.Material.Description}} </span> </p>
        <p>Производитель: <span style="font-weight:500; font-style:italic">{{item.Material.Manufacturer}} </span> </p>
        <p>Количество: <span style="font-weight:500; font-style:italic">{{item.Amount}}шт.</span> </p>
        <p>Стоимость: <span style="font-weight:500; font-style:italic">{{item.Cost}}р.</span></p>
        <hr>
      </div>
      <p>ИТОГО: <span style="font-weight:500; font-style:italic">{{sumMat}}р.</span></p>
    </div>
    <div class="info">

      <h4 style="font-style:italic; text-align:center">Выполняемые работы</h4>
      <div *ngFor="let item of worktypeOrder" class="table-striped">
        <p>Материал: <span style="font-weight:500; font-style:italic">{{item.WorkType.WorkType}}</span> </p>
        <p>Стоимость: <span style="font-weight:500; font-style:italic">{{item.Cost}}р.</span></p>
        <hr>
      </div>
      <p>ИТОГО: <span style="font-weight:500; font-style:italic">{{sumWorkT}}р.</span></p>
    </div>
    <div class="info">

      <h4 style="font-style:italic; text-align:center">Стоимость услуг рабочих</h4>
      <div *ngFor="let item of workerCost" class="table-striped">
        <p>Количество рабочих в бригаде: <span style="font-weight:500; font-style:italic">{{item.WorkersNumber}} человек</span> </p>
        <p>Стоимость: <span style="font-weight:500; font-style:italic">{{item.Cost}}р.</span></p>
        <hr>
      </div>
      <p>ИТОГО: <span style="font-weight:500; font-style:italic">{{sumCost}}р.</span></p>
    </div>
    <div class="info">
      <h4 style="font-style:italic; text-align:center">Документы заявки</h4>
      <mat-list>
        <mat-list-item *ngFor="let item of textInfo; let i = index">
          <mat-icon mat-list-icon>insert_drive_file</mat-icon>
          <h4 mat-line>{{item.Name}}</h4>
          <button matTooltip="Скачать документ" mat-icon-button (click)="downloadTextById(item.Id)">
            <mat-icon>get_app</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-card>
</app-main-nav>
